[submodule "Proyecto2BasedeDatos-Frontend"]
	path = Proyecto2BasedeDatos-Frontend
	url = https://github.com/Artli22/Proyecto2BasedeDatos-Frontend.git
[submodule "Proyecto2BasedeDatos-Backend"]
	path = Proyecto2BasedeDatos-Backend
	url = https://github.com/Artli22/Proyecto2BasedeDatos-Backend.git

